#content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-container > h2 {
    color: white;
    background-color: var(--primary-color);
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.table-content {
    width: 100%;
    overflow-x: auto;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.user-table th,
.user-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-table th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.user-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

.deleted-user {
    opacity: 0.5;
    pointer-events: none;
}

.deleted-user button {
    background-color: gray !important;
    cursor: not-allowed;
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: rgba(21, 77, 146, 0.8);
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#page-info {
    font-size: 16px;
}