#content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 40px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(21, 77, 146, 0.8);
}

#btn-user, #btn-log {
    width: 250px;
}
