footer {
    position: relative;
    bottom: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
}

#footer-wrap #f-tit {
    font-size: 32px;
    font-weight: bold;
}

#footer-wrap {
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 12px;
    max-width: 1200px;
}

#team-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-info:first-child {
    grid-column: span 2;
}

#team-wrap .team-info>a {
    color: #2665d0;
    text-decoration: none;
}

#team-wrap .team-info {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
}

#f-line {
    position: relative;
    padding-bottom: 10px;
}

#f-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 92px;
    background-color: #dbdbdb;
}

#f-desc {
    margin-top: 20px;
}

#f-desc > div:first-child {
    margin-bottom: 8px;
}