#recode {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    background-color: #E8EDF4;
}

#top {
    color:white;
    background-color: #3c4c60;
    padding: 5px 10px;
}
#wrap {
    display: flex;
}
#wrap > div:first-child {
    min-width: 300px;
}