input, textarea {
    outline: none;
    border: none;
}

input[type="text"] {
    padding: 5px 20px;
    font-size: 12px;
    width: 100%;
}
textarea {
    resize: none;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#root {
    background-color: #F6F6F9;
    width: 350px;
    height:calc(100% - 50px);
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.f-tit > p {
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
}

#btn-group {
    display: flex;
    justify-content: space-between;
}

#btn-group button, input[type="submit"] {
    border: none;
    background-color:#154D92;
    cursor: pointer;
    width: 50%;
    padding: 5px 0;
    color: white;
}

#btn-group button {
    color: black;
    background-color:#e0e0e0;
}

.grid-table {
    display: grid;
    grid-template-columns: 3fr 7fr;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.grid-table div:nth-child(odd) {
    background-color: #f0f0f0;
    font-weight: bold;
}
.grid-table div {
    padding: 10px;
    text-align: center;
}

.f-tit {
    background-color: #E8EDF4;
    padding: 10px 0;
}

#previous {
    height: 50px;
}

#findings {
    flex:1;
    min-height: 50px;
}
#opinion {
    height: 42px;
}

#previous,
#findings,
#opinion{
    width: 100%;
    font-size: 12px;
    padding: 5px 20px;
}

#lesion-grid {
    display: grid;
    background-color: #E8EDF4;
    grid-template-columns: repeat(3, 1fr);
}

#lesion-grid p {
    border-right: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#lesion-grid p:not(:last-child) {
    border-right: none;
}

#lesion-grid input {
    border-right: 1px solid #e0e0e0;
}

#lesion-grid input:last-child {
    border-right: none;
}

#lesion-grid input {
    text-align: center;
}
#radio-grid, #report-grid, #radiologist-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#radio-grid p, #report-grid p, #radiologist-grid p {
    background-color: #E8EDF4;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

#radio-grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0
}

#radio-grid > div:first-of-type,
#report-grid > div:first-of-type,
input[name="radiologistName"] {
    border-right:1px solid #e0e0e0;
}

#radio-grid > div > div, #report-grid > div  {
    display: flex;
    align-items: center;
}

#report-grid > div {
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

