#tools{
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tools #tools-group{
    display: flex;
    gap: 10px;
}

#tools .tool, #report-btn{
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#tools .tool:hover{
    background-color: #0F3A6B;
}

#tools .tool.active {
    color: #7ebefa;
    background-color: #0F3A6B;
}