body {
    height: 100vh;
    width: 100vw;
}

#header-area {
    background-color: #154D92;
    width: 100%;
    height: 50px;
}

#root {
    display: flex;
    height: calc(100% - 50px);
}

#dcm-viewer {
    flex-grow: 1;
    background-color: black;
}